
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Ciudades</title>
</head>
<body>
    <h1>Lista de Ciudades con Equipos</h1>
    <ul>
        {% for ciudad in ciudades %}
            <li>{{ ciudad.nombre }}</li>
        {% empty %}
            <li>No hay ciudades disponibles con equipos.</li>
        {% endfor %}
    </ul>
</body>
</html>
